results/models/*.pkl
results/models/*.pkl

# ignore RandomForest metric & plot files
/results/metrics/RandomForest*
/results/plots/RandomForest*
# ignore RandomForest metric & plot files
/results/metrics/RandomForest*
/results/plots/RandomForest*
